<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Car List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>

<body>

<h1>Car List</h1>

<a href="/">Home</a></li>

<br>

<a th:if="${role == 'admin'}" href="/car/add">Add car</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Driver ID</th>
        <th>Fix State</th>
        <th>State Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.driverId}"></td>
        <td th:text="${car.fixState}"></td>
        <td th:text="${car.stateNumber}"></td>
    </tr>
    </tbody>
</table>

<p>Last visit: <span th:text="${lastVisit}"></span></p>
<p>Visit count: <span th:text="${visitCount}"></span></p>

</body>
</html>
