<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Application List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

<h1>Application List</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Departure</th>
        <th>Departure Time</th>
        <th>Destination</th>
        <th>Destination Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="application : ${applications}">
        <td th:text="${application.id}">ID</td>
        <td th:text="${application.departure}">Departure</td>
        <td th:text="${application.departureTime}">Departure Time</td>
        <td th:text="${application.destination}">Destination</td>
        <td th:text="${application.destinationTime}">Destination Time</td>
    </tr>
    </tbody>
</table>

</body>

</html>
